nav {
    width: 100%;
    /*background-color: antiquewhite;*/
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: right;
    line-height: 70px;
    margin: 10px 14px;
}

.itens-menu {
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.itens-menu a {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

section {
    font-family: 'Open Sans', sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -6.4px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 50%;
    margin-top: 70px;
    /* border: 3px solid green;
     padding: 10px; 
    */
}

.letraG {
    color: #229AF2;
}

.letrao1 {
    color: #FB4848;
}

.letrao2 {
    color: #EBD400;
}

.letrag {
    color: #229AF2;
}

.letral {
    color: #429E16;
}

.letrae {
    color: #FB4848;
}

.barra-pesquisa {
    width: 828px;
    height: 73px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    border: 1px solid #E6DDDD;
    border-radius: 35px;
    box-shadow: 2px 2px 6px 0px #E6DDDD;

}

.icon-search {
    position: relative;
    margin-top: -84px;
    margin-left: 28px;
}

.text-search {
    color: #9A9494;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-left: 24px;
    margin-top: 23px;
}

.voice-search {
    position: relative;
    margin-top: -84px;
    margin-left: 130px;    
}

.camera-search {
    position: relative;
    margin-top: -80px;
    margin-left: 8px;      
}

.sites-group {
    width: 690px;
    height: 202px;
    border: 0px solid #E6DDDD;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    display: flex;
    align-items: center;    
}

.back-icon {
    width: 91px;
    height: 91px;
    border: 0px solid #E6DDDD;
    margin-right: 47px;
    margin-bottom: 20px;
}

.img-icon {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}